@page "/litorals/index"
@using DiplomaProject.Application.Litorals.Queries
@inject IMediator Mediator

<MatH5>Литорали</MatH5>
<p>
    Литораль - участок берега, который затопляется морской водой во время прилива и осушается во время отлива.
    Располагается между самым высоким уровнем воды в прилив и самым низким в отлив.
    Зону, расположенную ниже литорали, называют сублитора́льной зоной (сублитора́лью); зону, расположенную над литоральной — супралитора́льной зоной (супралитора́лью).
</p>


@if(_litorals == null)
{
    <MatProgressBar Indeterminate="true"/>
}
else
{
    <MatTable Items="@_litorals" class="mat-elevation-z5" ShowFooter="false" ShowPaging="false">
        <MatTableHeader>
            <th>#</th>
            <th>Название</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Id</td>
            <td>@context.Title</td>
        </MatTableRow>
    </MatTable>
}

@code {
    private Litoral[] _litorals;

    protected override async Task OnInitializedAsync()
    {
        _litorals = await Mediator.Send(new GetAllLitorals());
    }

}