@page "/counter"

<h1>Счётчик</h1>

<p>Текущее число: @_currentCount</p>

<MatButton Raised="true" OnClick="IncrementCount">Raised</MatButton>

@code {
    private int _currentCount;

    private void IncrementCount()
    {
        _currentCount++;
    }

}