@page "/fetchdata"
@using Microsoft.EntityFrameworkCore
@using DiplomaProject.DataAccess
@using DiplomaProject.Domain.Entities
@inject ApplicationDbContext DbContext

<MatH5>Данные</MatH5>


@if(_forecasts == null)
{
    <MatProgressBar Indeterminate="true"></MatProgressBar>
}
else
{
    <MatTable Items="@_forecasts" class="mat-elevation-z5" ShowFooter="false" ShowPaging="false">
        <MatTableHeader>
            <th>Дата</th>
            <th>Температура (C)</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Id</td>
            <td>@context.Title</td>
        </MatTableRow>
    </MatTable>
}

@code {
    private Litoral[] _forecasts;

    protected override async Task OnInitializedAsync()
    {
        _forecasts = await DbContext.Litorals.AsNoTracking().ToArrayAsync();
    }

}