@page "/expeditions/create"
@using DiplomaProject.Application.Expeditions.Commands
@inject IMediator Mediator
@inject IMatToaster Toaster

<MatH5>Добавление экспедиции</MatH5>

<p>
    <MatBody1>С даты</MatBody1>
    <MatDatePicker @bind-Value="@FromDate"></MatDatePicker>
</p>

<p>
    <MatBody1>По дату</MatBody1>
    <MatDatePicker @bind-Value="@ToDate"></MatDatePicker>
</p>

<MatButton Outlined Raised OnClick="CreateExpedition">Добавить</MatButton>


@code {

    public DateTime FromDate { get; set; } = DateTime.Now;
    public DateTime ToDate { get; set; } = DateTime.Now;

    public async Task CreateExpedition()
    {
        try
        {
            var command = new CreateExpeditionCommand
            {
                FromDate = new DateTimeOffset(FromDate),
                ToDate = new DateTimeOffset(ToDate)
            };

            await Mediator.Send(command);
            Toaster.Add("Экспедиция успешно добавлена !", MatToastType.Success, "Добавление");
        }
        catch(Exception e)
        {
            Toaster.Add(e.Message, MatToastType.Danger, "Ошибка");
        }
    }

}