@page "/counter"

<h1>Счётчик</h1>

<p>Текущее число: @currentCount</p>

<MatButton Raised="true" OnClick="IncrementCount">Raised</MatButton>

@code {
    private int currentCount;

    private void IncrementCount()
    {
        currentCount++;
    }

}