@inject NavigationManager navigationManager

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <MatButton Raised Outlined Icon="@MatIconNames.Account_circle" OnClick="OnClick">Вход</MatButton>
    </NotAuthorized>
</AuthorizeView>

@code {

    public void OnClick()
    {
        navigationManager.NavigateTo("Identity/Account/Login", true);
    }

}