@inherits LayoutComponentBase

<MatDialog @bind-IsOpen="@IsOpen">
    <MatDialogTitle>Пожалуйста, авторизуйтесь</MatDialogTitle>
    <MatDialogContent>
        <form method="post" action="/api/Security/Login">
            <p>
                <MatStringField Required name="userName" Value="@string.Empty" Label="Электронная почта" Icon="mail_outline"></MatStringField>
            </p>
            <p>
                <MatStringField Required name="password" Value="@string.Empty" Label="Пароль" Icon="lock_outline"></MatStringField>
            </p>
            <MatButton type="submit">Войти</MatButton>
        </form>
    </MatDialogContent>
</MatDialog>

@code {

    [Parameter]
    public bool IsOpen { get; set; }

}