@inherits LayoutComponentBase

<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" OnClick="OpenMenuClicked"></MatIconButton>
                <MatAppBarTitle>Fucoid</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <NavLoginComponent/>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>
    <MatAppBarContent>
        <MatDrawerContainer>
            <MatDrawer @bind-Opened="@_opened" Mode="@MatDrawerMode.Modal">
                <NavMenuComponent/>
            </MatDrawer>
            <MatDrawerContent>
                <div class="main">
                    @Body
                </div>
            </MatDrawerContent>
        </MatDrawerContainer>
    </MatAppBarContent>
</MatAppBarContainer>


@code
{
    bool _opened;

    void OpenMenuClicked()
    {
        _opened = !_opened;
    }
}