<AuthorizeView>
    <Authorized>
        <form method="post" action="api/Security/Logout">
            <MatButton Unelevated type="submit" Icon="@MatIconNames.Account_circle">Выход</MatButton>
        </form>
    </Authorized>
    <NotAuthorized>
        <MatButton Unelevated Icon="@MatIconNames.Account_circle" OnClick="OnClick">Вход</MatButton>
    </NotAuthorized>
</AuthorizeView>

<LoginDialogComponent IsOpen="@IsLoginDialogOpened"/>

@code {
    public bool IsLoginDialogOpened { get; set; }

    public void OnClick()
    {
        IsLoginDialogOpened = !IsLoginDialogOpened;
    }

}