@page "/sectors/index"
@using DiplomaProject.Application.Sectors.Queries
@inject IMediator Mediator

<MatH5>Секторы</MatH5>


@if(_sectors == null)
{
    <MatProgressBar Indeterminate="true"/>
}
else
{
    <MatTable Items="@_sectors" class="mat-elevation-z5" PageRecordCountLabel="Кол-во секторов на страницу" Striped="true">
        <MatTableHeader>
            <th>Id</th>
            <th>Температура (C)</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Id</td>
            <td>@context.LitoralId</td>
        </MatTableRow>
    </MatTable>
}

@code {
    private Sector[] _sectors;

    protected override async Task OnInitializedAsync()
    {
        _sectors = await Mediator.Send(new GetAllSectorsQuery());
    }

}